/images
/register_button
/sitout_button
/green_board
/action_buttons
.idea/
/cards
/cards1
/flop_cards
venv/
__pycache__/
/blinds
/stacks
/limp
/is_headsup
/bar
test.py
ALERT.wav
/all_in_stack
/bank_stack
cards_short/Новая папка/two_spades.png
cards_short/ace_clubs.png
cards_short/ace_diamonds.png
cards_short/ace_heart.png
cards_short/ace_spades.png
cards_short/eight_clubs.png
cards_short/eight_diamonds.png
cards_short/eight_heart.png
cards_short/eight_spades.png
cards_short/five_clubs.png
cards_short/five_diamonds.png
cards_short/five_heart.png
cards_short/five_spades.png
cards_short/four_clubs.png
cards_short/four_diamonds.png
cards_short/four_heart.png
cards_short/four_spades.png
cards_short/jack_clubs.png
cards_short/jack_diamonds.png
cards_short/jack_heart.png
cards_short/jack_spades.png
cards_short/king_clubs.png
cards_short/king_diamonds.png
cards_short/king_heart.png
cards_short/king_spades.png
cards_short/nine_clubs.png
cards_short/nine_diamonds.png
cards_short/nine_heart.png
cards_short/nine_spades.png
cards_short/queen_clubs.png
cards_short/queen_diamonds.png
cards_short/queen_heart.png
cards_short/queen_spades.png
cards_short/seven_clubs.png
cards_short/seven_diamonds.png
cards_short/seven_heart.png
cards_short/seven_spades.png
cards_short/six_clubs.png
cards_short/six_diamonds.png
cards_short/six_heart.png
cards_short/six_spades.png
cards_short/ten_clubs.png
cards_short/ten_diamonds.png
cards_short/ten_heart.png
cards_short/ten_spades.png
cards_short/three_clubs.png
cards_short/three_diamonds.png
cards_short/three_heart.png
cards_short/three_spades.png
cards_short/two_clubs.png
cards_short/two_diamonds.png
cards_short/two_heart.png
cards_short/two_spades.png
cards_short/Новая папка/ace_clubs.png
cards_short/Новая папка/ace_diamonds.png
cards_short/Новая папка/ace_heart.png
cards_short/Новая папка/ace_spades.png
cards_short/Новая папка/eight_clubs.png
cards_short/Новая папка/eight_diamonds.png
cards_short/Новая папка/eight_heart.png
cards_short/Новая папка/eight_spades.png
cards_short/Новая папка/five_clubs.png
cards_short/Новая папка/five_diamonds.png
cards_short/Новая папка/five_heart.png
cards_short/Новая папка/five_spades.png
cards_short/Новая папка/four_clubs.png
cards_short/Новая папка/four_diamonds.png
cards_short/Новая папка/four_heart.png
cards_short/Новая папка/four_spades.png
cards_short/Новая папка/jack_clubs.png
cards_short/Новая папка/jack_diamonds.png
cards_short/Новая папка/jack_heart.png
cards_short/Новая папка/jack_spades.png
cards_short/Новая папка/king_clubs.png
cards_short/Новая папка/king_diamonds.png
cards_short/Новая папка/king_heart.png
cards_short/Новая папка/king_spades.png
cards_short/Новая папка/nine_clubs.png
cards_short/Новая папка/nine_diamonds.png
cards_short/Новая папка/nine_heart.png
cards_short/Новая папка/nine_spades.png
cards_short/Новая папка/queen_clubs.png
cards_short/Новая папка/queen_diamonds.png
cards_short/Новая папка/queen_heart.png
cards_short/Новая папка/queen_spades.png
cards_short/Новая папка/seven_clubs.png
cards_short/Новая папка/seven_diamonds.png
cards_short/Новая папка/seven_heart.png
cards_short/Новая папка/seven_spades.png
cards_short/Новая папка/six_clubs.png
cards_short/Новая папка/six_diamonds.png
cards_short/Новая папка/six_heart.png
cards_short/Новая папка/six_spades.png
cards_short/Новая папка/ten_clubs.png
cards_short/Новая папка/ten_diamonds.png
cards_short/Новая папка/ten_heart.png
cards_short/Новая папка/ten_spades.png
cards_short/Новая папка/three_clubs.png
cards_short/Новая папка/three_diamonds.png
cards_short/Новая папка/three_heart.png
cards_short/Новая папка/three_spades.png
cards_short/Новая папка/two_clubs.png
cards_short/Новая папка/two_diamonds.png
cards_short/Новая папка/two_heart.png
